.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  color: white;
}

.Greeting {
  font: 4.5em "Montserrat Alternates", sans-serif;
  text-shadow: 2px 2px 12px black;
}

.App-intro {
  font-size: 1.3em;
  font-weight: 100;
  align-self: end;
  margin-top: 2.5em;
  margin-bottom: 0;
}

.Buttons {
  margin-bottom: 2em;
}

.Scroller-body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
}

.Scroll-right {
  /* size changes with respect to viewport width */
  font-size: 2vw;
}

.Scroll-left {
  /* size changes with respect to viewport width */
  font-size: 2vw;
}

.Scroller-heading {
  font: 2em "Roboto", sans-serif;
  text-shadow: 2px 1px 3px rgb(26, 26, 26);
}

.Scroller-link {
  margin-bottom: .6em;
}

.Scroller-text {
  font: 1.2em "Roboto", sans-serif;
  font-weight: 100;
  text-align: left;
  line-height: 150%;
  text-shadow: 2px 1px 3px rgb(26, 26, 26);
}

img {
  align-self: center;
  width: 98%;
  height: auto;
  border-radius: 10px;
  margin-bottom: .6em;
  box-shadow: 4px 4px 24px black;
}

svg {
  z-index: 0;
}

.Svg-disabled {
  color: gray;
  z-index: 0;
}

button {
  margin: 0px 10px;
}
button:focus {outline: 0;}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 
@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }
  svg:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 16px #4444dd);
  }
  .Svg-disabled:hover {
    cursor: default;
    filter: none;
  }
}