html {
  background-color: #292929;
  background-size: 80px 80px;
  background-image: -webkit-linear-gradient(left top, rgba(0,0,0,0.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));
}

body {
  color: white;
  font-family: sans-serif;
  background-color: transparent;
}
