html {
  background-color: #292929;
  background-size: 80px 80px;
  background-image: -webkit-linear-gradient(left top, rgba(0,0,0,0.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));
}

body {
  color: white;
  font-family: sans-serif;
  background-color: transparent;
}

body:before {
  /* Preload images for Scroller to avoid
  hesitation in image changes */
  content: url(/src/Content/images/this.png)
           url(/src/Content/images/beginningruby.png)
           url(/src/Content/images/agilerails.png)
           url(/src/Content/images/railsguide.png)
           url(/src/Content/images/railsconf.png)
           url(/src/Content/images/practicingrails.png)
           url(/src/Content/images/railsangular.png)
           url(/src/Content/images/programmingruby.png)
           url(/src/Content/images/js.png)
           url(/src/Content/images/simplejs.png)
           url(/src/Content/images/reactforreal.png)
           url(/src/Content/images/sqlqueries.png)
           url(/src/Content/images/progit.png)
           url(/src/Content/images/exceptionalruby.png)
           url(/src/Content/images/vegomatic.png);
  visibility: hidden;
  position: absolute;
  left: -999em;
}
