html {
  background-color: #292929;
  background-size: 80px 80px;
  background-image: -webkit-linear-gradient(left top, rgba(0,0,0,0.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 75%,rgba(0,0,0,0) 75%,rgba(0,0,0,0));
}

body {
  color: white;
  font-family: sans-serif;
  background-color: transparent;
}

body:before {
  /* Preload images for Scroller to avoid
  hesitation in image changes */
  content: url(https://dsh.re/91ca4)
           url(https://dsh.re/b02be)
           url(https://dsh.re/75dc2)
           url(https://dsh.re/cd47b)
           url(https://dsh.re/1e1f0a)
           url(https://dsh.re/77a8a)
           url(https://dsh.re/950e2)
           url(https://dsh.re/94939)
           url(https://dsh.re/1dd2a)
           url(https://dsh.re/ddcfa)
           url(https://dsh.re/77c47)
           url(https://dsh.re/b2839)
           url(https://dsh.re/2c98e)
           url(https://dsh.re/b12ea)
           url(https://dsh.re/be818);
  visibility: hidden;
  position: absolute;
  left: -999em;
}
